@use '../components/colors' as *;

.s-playground {
   background: var(--Primitives-Colours-Morado-500);
  .section-title {
    margin-bottom: 1rem;
    color: #fff;
  }

  .gallery-playground {

  }

  .playcard {
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    background: transparent;
    display: block;
    position: relative;

    video, img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .caption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: var(--Primitives-Colours-Morado-800);
      color: #fff;
      padding: 8px;
      text-align: left;
      font-size: 1rem;
    }
  }
}