@use '../custom' as *;


.s-proyect{

    .bg-banner{
        background: linear-gradient(-45deg, #fefff3, #f6edfe, #eef8fb, #fafffe);
        background-size: 400% 400%;
        animation: gradient-takeAway 15s ease infinite;
        height: auto;
        padding-top: 40px;
    }

    .img-tool{  width: 12%}
          
}

.h-rol{
    position: relative;

    &::before{
        content: " ";
        position: absolute;
        top: -14%;
        left: -30px;
        margin-left: -13px;
        border-width: 8px;
        border-style: solid;
        border-color: var(--Primitives-Colours-Morado-500) transparent transparent transparent;
    }
    
    &::after{
        background: var(--Primitives-Colours-Morado-500);
        color: #000;
        content: "My Rol";
        display: ruby;
        position: absolute;
        top: -28px;
        left: -61px;
        padding: 0px 5px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 6px;
        color: #f6edfe;

    }
}


.bg-circle {
    background-color: var(--color-Surface-Primary-Lighter);
    border-radius: 50%;
    width: 100px;
    height: 100px;

    i{
        position: relative;
        top: 30%;
        font-size: 2rem;
        color: var(--color-Type-Primary-Label);
    }
}





.s-take-away{
    background: linear-gradient(-45deg, #fefff3, #f6edfe, #eef8fb, #fafffe);
	background-size: 400% 400%;
	animation: gradient-takeAway 15s ease infinite;
}

@keyframes gradient-takeAway {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.blur-text{
    // font-size: 40px;
    color: transparent;
    text-shadow: 0 0 8px #000;
}


.highlight{
    background-color: var(--color-Surface-Secondary-Subtle);
    margin-bottom: 20px;

    .highlight-title{
        color: var(--color-Type-Secondary-Label);

    }
    
}

.text-highlight-orange {
    background-color: var(--Primitives-Colours-Naranja-300);
    padding: 0 5px;
}

.text-highlight-purple {
    background-color: var(--Primitives-Colours-Purple-300);
    padding: 0 5px;
}

@keyframes show {
    from {
       opacity: 0; 
       scale: 25%;
    }
  
    to {
        opacity: 1; 
        scale: 100%;
    }
}

.box-finding{
    color: #333;
    background-color: #fff;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 24px 30px 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);


    .caption{
        color: rgba(51, 51, 51, .4);
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
    }

}

.box-photo{
    background-color: #fff;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
}

.box-Impact{
    color: #333;
    background-color: #fefee4;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 24px 30px 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
}

.box-Challenge{
    color: #333;
    background-color: var(--Primitives-Colours-Morado-100);
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
}

.highlight-card{
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background-color: var(--color-Surface-Secondary-Subtle);
    font-size: 1.2rem;
    min-height: 150px;

    .highlight-title{
        color: var(--color-Type-Secondary-Label);

    }
    
}

.my-animate{
    view-timeline-name: --high;
    view-timeline-axis: block ;
    animation-timeline: --high;
    animation-name: show ;

    animation-range: entry 20% cover 50% ;
}



.highlight-card-gold{
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background-color: var(--color-Surface-Secondary-Subtle);
    color: var(--color-Type-Secondary-Label);
    font-size: 1.2rem;
    
}


.persona-card{
    border-radius: .5rem;
    border: 1px solid ;
    border-color: var(--color-Border-Secondary-lighter);
    text-align: left;


    img {
        width: -webkit-fill-available;
    
    }
}

.p-heading h2{
    font-size: 1.5rem;
}

.p-heading h3 {
    font-size: 1.2rem;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .p-heading h2{
        font-size: var(--h2);
    }

    .p-heading h3 {
        font-size: var(--h3);
        
    }

    .s-proyect .img-tool {
        width: 40px;
    }

 }