@use '../custom' as *;



.s-resume{
    padding: 4rem 0 4rem 0;
    background-color: var(--color-Surface-Primary-Subtle);
}

.border-time{
    border-left: 4px solid var(--color-Border-Primary-Lighter);
    padding-left: 20px;
}

.border-sm{

    border-left: none;
    padding-left: none;

}

.pin-time{
    position: relative;
    border-radius: 20px;

    &-large{
        width: 16px;
        height: 16px;
        right: 31px;
        top: 24px;
        background-color: var(--color-Border-Primary-Darker);

    }

    &-small{
        width: 12px;
        height: 12px;
        right: 28px;
        top: 19px;
        background-color: var(--color-Border-Primary-Default);

    }
}

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { 

//  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .border-sm{
        border-left: 4px solid var(--color-Border-Secondary-Lighter);
        padding-left: 20px;
    
    }
 }

// Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }