// @use '../custom' as *;
// @use '../components/mixins' as *;

/* Typography Primitives  - Mode 1 */
:root {
    --Font-Family-Body: Inter;
    --Font-Family-Titles: Inter;
    --Font-Size-font-xs-12: 12px;
    --Font-Size-font-sm-14: 14px;
    --Font-Size-font-md-16: 16px;
    --Font-Size-font-lg-18: 18px;
    --Font-Size-font-xl-20: 20px;
    --Font-Size-font-2xl-24: 24px;
    --Font-Size-font-3xl-26: 26px;
    --Font-Size-font-4xl-28: 28px;
    --Font-Size-font-5xl-30: 30px;
    --Font-Size-font-6xl-36: 36px;
    --Font-Size-font-7xl-38: 38px;
    --Font-Size-font-8xl-40: 40px;
    --Font-Size-font-9xl-42: 42px;
    --Font-Size-font-10xl-46: 46px;
    --Font-Size-font-11xl-52: 52px;
    --Font-Size-font-12xl-62: 62px;
    --Font-Size-font-13xl-72: 72px;
    --Font-Weight-Light: 300;
    --Font-Weight-Regular: 400;
    --Font-Weight-Medium: 500;
    --Font-Weight-SemiBold: 600;
    --Font-Weight-Bold: 700;
    --Font-Weight-ExtraBold: 800;
    --Font-Weight-Black: 900;
}

/* Typography Tokens - Mode 1 */
:root {
    --Hero-Font-Size: var(--Font-Size-font-13xl-72);
    --Hero-Font-Family: var(--Font-Family-Titles);
    --Hero-Font-Weight: var(--Font-Weight-Bold);
    --Lead-Lead-Bold-Font-Size: var(--Font-Size-font-11xl-52);
    --Lead-Lead-Bold-Font-Family: var(--Font-Family-Titles);
    --Lead-Lead-Bold-Font-Weight: var(--Font-Weight-Bold);
    --Lead-Lead-Regular-Font-Size: var(--Font-Size-font-11xl-52);
    --Lead-Lead-Regular-Font-Family: var(--Font-Family-Titles);
    --Lead-Lead-Regular-Font-Weight: var(--Font-Weight-Medium);
    --Title-Title-Bold-Font-Size: var(--Font-Size-font-9xl-42);
    --Title-Title-Bold-Font-Family: var(--Font-Family-Titles);
    --Title-Title-Bold-Font-Weight: var(--Font-Weight-Bold);
    --Title-Title-Regular-Font-Size: var(--Font-Size-font-9xl-42);
    --Title-Title-Regular-Font-Family: var(--Font-Family-Titles);
    --Title-Title-Regular-Font-Weight: var(--Font-Weight-Medium);
    --Title-Title-Light-Font-Size: var(--Font-Size-font-9xl-42);
    --Title-Title-Light-Font-Family: var(--Font-Family-Titles);
    --Title-Title-Light-Font-Weight: var(--Font-Weight-Light);
    --Subtitle-Subtitle-Bold-Font-Size: var(--Font-Size-font-7xl-38);
    --Subtitle-Subtitle-Bold-Font-Family: var(--Font-Family-Titles);
    --Subtitle-Subtitle-Bold-Font-Weight: var(--Font-Weight-Bold);
    --Subtitle-Subtitle-Regular-Font-Size: var(--Font-Size-font-11xl-52);
    --Subtitle-Subtitle-Regular-Font-Family: var(--Font-Family-Titles);
    --Subtitle-Subtitle-Regular-Font-Weight: var(--Font-Weight-SemiBold);
    --Subtitle-Subtitle-Light-Font-Size: var(--Font-Size-font-11xl-52);
    --Subtitle-Subtitle-Light-Font-Family: var(--Font-Family-Titles);
    --Subtitle-Subtitle-Light-Font-Weight: var(--Font-Weight-Regular);
    --Heading-Heading-Bold-Font-Size: var(--Font-Size-font-3xl-26);
    --Heading-Heading-Bold-Font-Family: var(--Font-Family-Titles);
    --Heading-Heading-Bold-Font-Weight: var(--Font-Weight-Bold);
    --Heading-Heading-Regular-Font-Size: var(--Font-Size-font-3xl-26);
    --Heading-Heading-Regular-Font-Family: var(--Font-Family-Titles);
    --Heading-Heading-Regular-Font-Weight: var(--Font-Weight-Medium);
    --Body-Body-Lg-Body-Large-Bold-Font-Size: var(--Font-Size-font-xl-20);
    --Heading-Heading-Light-Font-Size: var(--Font-Size-font-3xl-26);
    --Body-Body-Lg-Body-Large-Regular-Font-Size: var(--Font-Size-font-xl-20);
    --Body-Body-Lg-Body-Large-Regular-Font-Family: var(--Font-Family-Titles);
    --Body-Body-Lg-Body-Large-Regular-Font-Weight: var(--Font-Weight-Medium);
    --Body-Body-Lg-Body-Large-Bold-Font-Family: var(--Font-Family-Titles);
    --Heading-Heading-Light-Font-Family: var(--Font-Family-Titles);
    --Body-Body-Lg-Body-Large-Bold-Font-Weight: var(--Font-Weight-Bold);
    --Heading-Heading-Light-Font-Weight: var(--Font-Weight-Light);
    --Body-Body-Lg-Body-Large-Light-Font-Size: var(--Font-Size-font-xl-20);
    --Body-Body-Lg-Body-Large-Light-Font-Family: var(--Font-Family-Titles);
    --Body-Body-Lg-Body-Large-Light-Font-Weight: var(--Font-Weight-Light);
    --Body-Body-Body-Bold-Font-Size: var(--Font-Size-font-md-16);
    --Body-Body-Body-Regular-Font-Size: var(--Font-Size-font-md-16);
    --Body-Body-Body-Regular-Font-Family: var(--Font-Family-Titles);
    --Body-Body-Body-Regular-Font-Weight: var(--Font-Weight-Medium);
    --Body-Body-Body-Bold-Font-Family: var(--Font-Family-Titles);
    --Body-Body-Body-Bold-Font-Weight: var(--Font-Weight-Bold);
    --Body-Body-Body-Light-Font-Size: var(--Font-Size-font-md-16);
    --Body-Body-Body-Light-Font-Family: var(--Font-Family-Titles);
    --Body-Body-Body-Light-Font-Weight: var(--Font-Weight-Light);
    --Body-Body-Sm-Body-Bold-Font-Size: var(--Font-Size-font-sm-14);
    --Body-Body-Sm-Body-Regular-Font-Size: var(--Font-Size-font-sm-14);
    --Body-Body-Sm-Body-Regular-Font-Family: var(--Font-Family-Titles);
    --Body-Body-Sm-Body-Regular-Font-Weight: var(--Font-Weight-Medium);
    --Body-Body-Sm-Body-Bold-Font-Family: var(--Font-Family-Titles);
    --Body-Body-Sm-Body-Bold-Font-Weight: var(--Font-Weight-Bold);
    --Body-Body-Sm-Body-Light-Font-Size: var(--Font-Size-font-sm-14);
    --Body-Body-Sm-Body-Light-Font-Family: var(--Font-Family-Titles);
    --Body-Body-Sm-Body-Light-Font-Weight: var(--Font-Weight-Light);
    --font-size-0: 16px;
    --font-size-1: 72px;
    --font-size-2: 60px;
    --font-size-3: 46px;
    --font-size-4: 38px;
    --font-size-5: 26px;
    --font-size-6: 20px;
    --font-size-7: 14px;
    --font-size-8: 12px;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;

}







.hero {
    font-size: var(--Hero-Font-Size);
    font-family: var(--Hero-Font-Family);
    font-weight: var(--Hero-Font-Weight);
}

.lead {
    font-size: var(--Lead-Lead-Regular-Font-Size);
    font-family: var(--Lead-Lead-Regular-Font-Family);
    font-weight: var(--Lead-Lead-Regular-Font-Weight);
}

.lead-bold {
    font-size: var(--Lead-Lead-Bold-Font-Size);
    font-family: var(--Lead-Lead-Bold-Font-Family);
    font-weight: var(--Lead-Lead-Bold-Font-Weight);
}

.title {
    font-size: var(--Title-Title-Regular-Font-Size);
    font-family: var(--Title-Title-Regular-Font-Family);
    font-weight: var(--Title-Title-Regular-Font-Weight);
}

.title-bold {
    font-size: var(--Title-Title-Bold-Font-Size);
    font-family: var(--Title-Title-Bold-Font-Family);
    font-weight: var(--Title-Title-Bold-Font-Weight);
}

.title-light {
    font-size: var(--Title-Title-Light-Font-Size);
    font-family: var(--Title-Title-Light-Font-Family);
    font-weight: var(--Title-Title-Light-Font-Weight);
}

.subtitle {
    font-size: var(--Subtitle-Subtitle-Regular-Font-Size);
    font-family: var(--Subtitle-Subtitle-Regular-Font-Family);
    font-weight: var(--Subtitle-Subtitle-Regular-Font-Weight);
}

.subtitle-bold {
    font-size: var(--Subtitle-Subtitle-Bold-Font-Size);
    font-family: var(--Subtitle-Subtitle-Bold-Font-Family);
    font-weight: var(--Subtitle-Subtitle-Bold-Font-Weight);
}

.subtitle-light {
    font-size: var(--Subtitle-Subtitle-Light-Font-Size);
    font-family: var(--Subtitle-Subtitle-Light-Font-Family);
    font-weight: var(--Subtitle-Subtitle-Light-Font-Weight);
}

.heading {
    font-size: var(--Heading-Heading-Regular-Font-Size);
    font-family: var(--Heading-Heading-Regular-Font-Family);
    font-weight: var(--Heading-Heading-Regular-Font-Weight);
}

.heading-bold {
    font-size: var(--Heading-Heading-Bold-Font-Size);
    font-family: var(--Heading-Heading-Bold-Font-Family);
    font-weight: var(--Heading-Heading-Bold-Font-Weight);
}

.heading-light {
    font-size: var(--Heading-Heading-Light-Font-Size);
    font-family: var(--Heading-Heading-Light-Font-Family);
    font-weight: var(--Heading-Heading-Light-Font-Weight);
}

.body-large {
    font-size: var(--Body-Body-Lg-Body-Large-Regular-Font-Size);
    font-family: var(--Body-Body-Lg-Body-Large-Regular-Font-Family);
    font-weight: var(--Body-Body-Lg-Body-Large-Regular-Font-Weight);
}

.body-large-bold {
    font-size: var(--Body-Body-Lg-Body-Large-Bold-Font-Size);
    font-family: var(--Body-Body-Lg-Body-Large-Bold-Font-Family);
    font-weight: var(--Body-Body-Lg-Body-Large-Bold-Font-Weight);
}


.body-large-light {
    font-size: var(--Body-Body-Lg-Body-Large-Light-Font-Size);
    font-family: var(--Body-Body-Lg-Body-Large-Light-Font-Family);
    font-weight: var(--Body-Body-Lg-Body-Large-Light-Font-Weight);
}

.body {
    font-size: var(--Body-Body-Body-Regular-Font-Size);
    font-family: var(--Body-Body-Body-Regular-Font-Family);
    font-weight: var(--Body-Body-Body-Regular-Font-Weight);
}

.body-bold {
    font-size: var(--Body-Body-Body-Bold-Font-Size);
    font-family: var(--Body-Body-Body-Bold-Font-Family);
    font-weight: var(--Body-Body-Body-Bold-Font-Weight);
}

.body-light {
    font-size: var(--Body-Body-Body-Light-Font-Size);
    font-family: var(--Body-Body-Body-Light-Font-Family);
    font-weight: var(--Body-Body-Body-Light-Font-Weight);
}

.body-small {
    font-size: var(--Body-Body-Sm-Body-Regular-Font-Size);
    font-family: var(--Body-Body-Sm-Body-Regular-Font-Family);
    font-weight: var(--Body-Body-Sm-Body-Regular-Font-Weight);
}

.body-small-bold {
    font-size: var(--Body-Body-Sm-Body-Bold-Font-Size);
    font-family: var(--Body-Body-Sm-Body-Bold-Font-Family);
    font-weight: var(--Body-Body-Sm-Body-Bold-Font-Weight);
}

.body-small-light {
    font-size: var(--Body-Body-Sm-Body-Light-Font-Size);
    font-family: var(--Body-Body-Sm-Body-Light-Font-Family);
    font-weight: var(--Body-Body-Sm-Body-Light-Font-Weight);
}