// @use '../custom' as *;

body {
    background-color: var(--Surface-Neutral-default);
    font-family: var(--Font-Family-Body);
}

.badge {

    $badge-font-size: .75em;
    $badge-font-weight: 700;
    $badge-color: rgb(37, 24, 76);
    $badge-padding-y: .35em;
    $badge-padding-x: .65em;
    $badge-border-radius: $border-radius;

    background-color: var(--Primitives-Colours-Azul-100);
    color: $badge-color;
    font-weight: 500;

}

.badge-important {

    $badge-color: rgb(37, 24, 76);
    $badge-padding-y: .50em;
    $badge-padding-x: .65em;

    // background-color: var(--Primitives-Colours-Azul-100);
    color: $badge-color;
    font-weight: 500;
    border: 1px solid var(--Primitives-Colours-Gris-200);
    padding: $badge-padding-y $badge-padding-x ;
    border-radius: 10px;
    font-size: 1rem;

}



.bg-circle {
    background-color: var(--color-Surface-Primary-Lighter);
    border-radius: 50%;
    width: 100px;
    height: 100px;

    i {
        position: relative;
        top: 30%;
        font-size: 2rem;
        color: var(--color-Type-Primary-Label);
    }
}


.divider {
    border-bottom: 1px solid;
    color: var(--color-Border-Secondary-Subtle);

}

.bg-white {
    background-color: #fff;
}

.box-tranlucida {
    width: 100%;
    max-width: 1024px;
    height: 576px;
    position: relative;
    padding: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1.5px 10px;
    border-radius: 24px;
    overflow: hidden;
}

.back-blur {
    z-index: -1;
    position: fixed;
    top: 10px;
    left: 40%;
    opacity: 35%;
}

.box-neutral {
    border-radius: 1.875rem;
    border: 1px solid var(--Border-Neutral-light, #E5E5E5);
    background: #FFF;
    padding: 40px;
}